    <div class="div-content">

        <section class="py-4 text-center container">
          <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h2 class="fw-light">¡Bienvenido a la cocteleria!</h2>
              <form class="d-flex">
                <input name="textSearch" [(ngModel)]="textSearch"  class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" (click)="onClickSearch()" type="button">Search</button>
              </form>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">

            <div *ngIf="drinkList.length==0">
              <h3>No existen resultados para la busqueda</h3>
            </div>
      
            <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div  *ngFor="let bebida of drinkList" class="col">
                <div class="card shadow-sm">
                  <!-- <img src="{{video.thumbnails}}" alt=""> -->
                  <div class="card-body">
                    <p class="card-text">{{bebida.strDrink}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="https://www.imdb.com/title/{{bebida.strDrink}}/" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver mas</a>
                      </div>
                      <small class="text-muted">{{bebida.dateModified}}</small>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      


    </div>