    <div class="div-content">

        <section class="py-4 text-center container">
          <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="font_Header">¡Bienvenido a la cocteleria!</h1>
              <form class="d-flex">
                <input name="textSearch" [(ngModel)]="textSearch"  class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" (click)="onClickSearch()" type="button">Search</button>
              </form>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">

            <div  *ngIf="drinkList.length>0" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div  *ngFor="let bebida of drinkList" class="col">
                <a href="https://www.thecocktaildb.com/drink/{{bebida.idDrink}}?lan=it/" >

                  <div class="card shadow-sm">
                    <img src="{{bebida.strDrinkThumb}}" width="100%" height="400" alt=""> 
                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="{{bebida.strDrinkThumb}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{bebida.strDrink}}</text></svg> -->
                    <div class="card-body">
                      <p class="card-text ">{{bebida.strDrink}}</p>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.thecocktaildb.com/drink/{{bebida.idDrink}}?lan=it/" target="_blank" type="button" class="btn btn-sm btn-outline-secondary">Ver mas</a>
                        </div>
                        <small class="text-muted">{{bebida.dateModified}}</small>
                      </div>
                    </div>
                  </div>

                </a>
              </div>
          </div>
          <div *ngIf="drinkList.length==0">
            <h3>No existen resultados para la busqueda</h3>
          </div>
        </div>
    </div>

      