<header>
  <div class="px-4 py-2 bg-dark text-white">
    
    <div class="container">
      
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="bootstrap-icons.svg#bi-cup-straw"/></svg>
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use href=""/>
          </svg>
          <img class="HeaderLogo" src="https://www.graphicsprings.com/filestorage/stencils/772a785f67d7cba90b4686bf641defbe.png?width=400&height=400" alt="">

        </a>

        <ul class="nav col-12 col-lg-auto justify-content-center font_Header">
          <li *ngFor="let item of items">
            <a routerLink="{{item.url}}" routerLinkActive="active" aria-current="page" class="nav-link text-white">
              <i class="bi mb-1 {{item.icon}}" width="35" height="35"></i>
              {{item.text}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>